#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#body > div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 10px;
}
#body > div input{
    width: 300px;
    margin: 10px;
    padding: 2px 4px;
    font-size: larger;
    border: 2px solid;
    border-radius: 5px;
}

#body > div  button{
    font-size: larger;
    text-align: center;
}

#body > div  button {
  background-color: blue;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
   cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}

#body > div  button:hover {
  background-color:red;
}

#body > div  button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

#body > div  button:hover {
  box-shadow:orangered;
}